@model Director
@{
    ViewData["Title"] = Model.Name;
}

<h1 class="main-header mb-3">@Model.Name</h1>
<p>
    <span class="font-weight-bold">Date of birth: </span>
    @Model.DateOfBirth.Value.ToString("MMMM d, yyyy")
</p>